@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-bggreen: #ffffff;
  --color-farmgreen: #71c66c;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-dm-sans: "DM Sans", sans-serif;
}

/* global classes */
.font-dm-sans-thick {
  font: normal 400 18px var(--font-dm-sans);
}
.font-dm-sans {
  font: normal 200 18px var(--font-dm-sans);
}
.font-dm-sans-nav {
  font: normal 200 12px var(--font-dm-sans);
}
.font-dm-sans-bold {
  font: normal bold 18px var(--font-dm-sans);
}

.font-size-40 {
  font-size: 40px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-27 {
  font-size: 27px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: var(--color-black);
}
.bgcolor-farmgreen {
  background-color: var(--color-farmgreen);
}
.bg-green {
  background-color: var(--color-bggreen);
}

.profile {
  height: 100%;
}

.dash-link {
  margin: 0.7rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

.dash-link:hover {
  color: var(--color-white) !important;
  text-decoration: none;
}
.dash-link-active {
  margin: 0.7rem 1rem;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-white) !important;
  text-decoration: none;
}
.dash-link-active:hover {
  color: var(--color-white) !important;
  text-decoration: none;
}

#mkulima {
  height: 80vh;
}
